<footer class="site-footer">
  &copy; {{ now.Format "2006"}}

  <div class="social">
    <a href="facebook.html">{{ partial "fontawesome.html" "facebook" }}</a>
  </div>
  {{/*  {{ $script := resources.Get "js/masonry.js" | minify | fingerprint }}
  <script src="{{ $script.Permalink }}"></script>  */}}
  <!-- <script src="{{ "js/main.min.js" | relURL }}"></script>
 
  <script defer src="{{ "js/ga.js" | relURL }}"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56433935-1&aip=1"></script> -->
</footer>