<header class="site-header">
  <div class="pure-menu pure-menu-horizontal">
    <a class="pure-menu-heading pure-menu-link" href="{{ .Site.Home.RelPermalink }}">
      <div>Stausa</div>
      <div>Art Studio</div>
    </a>

    {{ $url := .Permalink }}
    <ul class="pure-menu-list">
      {{ range .Site.Menus.main }}
        <li class="pure-menu-item{{ if in $url .URL }} active{{ end }}">
          <a href="{{ .URL }}" class="pure-menu-link">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
</header>