{{ define "main" }}
<div class="full-bg-img" style="background-image:url('/img/ancient_olive_tree.jpg');"></div>

<div class="page-content">
	<div class="wrapper">
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
  </div>
</div>
{{ end }}